@page
@model SpamModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Spam page";
}
<form method="POST">
    <h3>Message:</h3>
        <textarea style="width: 300px; height: 100px;" asp-for="Message.Text"></textarea>
    <div class="row">
        <input type="submit" />
    </div>

    <div asp-validation-summary="All"></div>
    <hr>
    @if (!Model.HasPosted)
    {
        <span>Please post a message</span>
    }
    else if (Model.IsSpam) 
    {
        <span><i class="glyphicon glyphicon-warning-sign"></i>This is spam. Don't react to it!!</span>
    }
    else
    {
        <span>This is no spam (probably). Be careful though.</span>
    }
</form>