@page
@model TestModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
ViewData["Title"] = "Test page";
}
<h2>@ViewData["Title"]</h2>
Good day, sir.
<label asp-for="Customer.Name"></label>

<form method="POST">
    <div>Name: <input asp-for="Customer.Name" /></div>
    <input type="submit" />

    <div asp-validation-summary="All"></div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.Customers)
            {
            <tr>
                <td>@contact.Id</td>
                <td>@contact.Name</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@contact.Id">edit</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@contact.Id">delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>